In [14]:
import pandas as pd

In [16]:
df_binance = pd.read_csv("btc_binance_daily.csv")
df_binance.head()

     OpenTime     Open     High      Low    Close       Volume
0  2017-08-17  4261.48  4485.39  4200.74  4285.08   795.150377
1  2017-08-18  4285.08  4371.52  3938.77  4108.37  1199.888264
2  2017-08-19  4108.37  4184.69  3850.00  4139.98   381.309763
3  2017-08-20  4120.98  4211.08  4032.62  4086.29   467.083022
4  2017-08-21  4069.13  4119.62  3911.79  4016.00   691.743060

In [18]:
df_binance.columns

Index(['OpenTime', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [20]:
# 1. Rename OpenTime → Date
df_binance = df_binance.rename(columns={"OpenTime": "Date"})

# 2. Convert Date to datetime
df_binance["Date"] = pd.to_datetime(df_binance["Date"], errors="coerce")

# 3. Convert numeric columns to float (remove commas if any — unlikely in Binance export)
for col in ["Open", "High", "Low", "Close", "Volume"]:
    df_binance[col] = pd.to_numeric(df_binance[col], errors="coerce")

# 4. Sort by date
df_binance = df_binance.sort_values("Date").reset_index(drop=True)

# 5. Preview cleaned data
df_binance.head()

        Date     Open     High      Low    Close       Volume
0 2017-08-17  4261.48  4485.39  4200.74  4285.08   795.150377
1 2017-08-18  4285.08  4371.52  3938.77  4108.37  1199.888264
2 2017-08-19  4108.37  4184.69  3850.00  4139.98   381.309763
3 2017-08-20  4120.98  4211.08  4032.62  4086.29   467.083022
4 2017-08-21  4069.13  4119.62  3911.79  4016.00   691.743060

In [28]:
df_binance.to_csv("btc_cleaning_till2025.csv", index=False)

In [31]:
import pandas as pd

df = pd.read_csv("btc_cleaning_till2025.csv")
print(df.columns)

Index(['Date', 'Close', 'Open', 'High', 'Low', 'Volume', 'Change_Pct', 'Week'], dtype='object')